@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --color-secondary: #333333;
}
@layer utilities {
  @media (width >= 80rem) {
    .container {
      @apply mx-auto max-w-[77.5rem];
    }
  }
}

@layer base {
  .section-heading {
    @apply w-1/2 text-[2rem]/8 md:text-[4rem]/16;
  }

  .section-heading span {
    @apply font-playfair text-secondary leading-[51.2px] italic;
  }
}
